/*HTML and Body*/

body,html{
	width:100%;
	height: 100%;
	font-family: 'Raleway', sans-serif;
}

/*Header*/
h1,h2,h3,h4{
	color:#A0A0A0;
	font-family: 'Oswald', sans-serif;
}
h1{font-size: 2em;letter-spacing: 1px;	}
h2{font-size: 1.5em;letter-spacing: 1px;	}
h3{font-size: 1.375em;letter-spacing: 1px;	}
h4{font-size: 1.125em;letter-spacing: 1px;	}
/*Basic fonts*/
p{font-size: .75em; letter-spacing: 1px;}
/*Navigation*/
header{
	width:100%;
	height:70px;
	padding: 10px 0px;
	background-color: #fff;
	z-index: 9999999;
		margin: 0 auto;

}
header .title{
	color:#99ee99;
	font-variant: small-caps;
	float: left;
	margin-left:  10px;
	font-family: 'Oswald', sans-serif;
}
nav{
	float: right;
	margin:0px 10px;
}
nav ul{
	padding:15px 20px;
}

nav ul li{
	list-style: none;
	color:#A0A0A0;
	font-variant: small-caps;
	display: inline;
	padding: 0 20px;
	margin: 0;
}
nav ul li a{
	text-decoration: none;
	color:#A0A0A0;
	text-shadow:1px 0px #a2a2a2;
	letter-spacing: 1.5px;
}
nav ul li a:hover{
	color:#AAFF99;
}
nav ul li a:visited{
	color:#A0A0A0;
}
a{
	outline: none;
}
a:visited{
	outline: none;
	text-decoration: none;
}
img{
	width:100%;
}


/*Randoms*/
.clear{
	clear:both;
}
.container{
	width: 100%;
	margin: 0 auto;
}
.centered{
	margin: 0 auto;
	clear: both;
}
.centeredText{
	text-align: center;
}
/*Grid*/

.col-3{
	width:33.1%;
	margin-left: .05%;
	float:left;
}

.col-4{
	width:25%;
	float:left;
}
.col-6{
	width:50%;
	float: left;

}
.col-12{
	width:100%;
	float:left;
}

.hero{
	width: 100%;
	height:480px;
	overflow:hidden;
	margin: 0px 0px 0px 0px;
}


/*Slider Styles*/
.slider{width:100%; height:100%; overflow: hidden;}
.slide{
	width: 100%;
	height:100%;
	position: relative;
	background:  url(../images/tunnel.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.slide .container{
	height: 100%;
	position: absolute;
	z-index: 9999;

}

/*Callouts*/
#callout{
	margin: 0px 0px 100px 0px;
	padding: 200px 0px;
	background-size:cover;
	background: url(../images/seven-seas.jpg);
	background-size: 30% 100%;
    background-repeat: repeat-x;
    background-position: left;
    width: 100%;
    color:#ffffff;
}
#callout h3{
    color:#ffffff;
}
#callout q{
	font-style:italic;
	opacity: .8;
	font-weight: 900;
}
#mainContent{
	margin-bottom: 100px;
	clear: both;
}
/*Buttons*/
.btn{
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	margin: 30px; 

}
.btnDefualt{
	color:#AeAeAe;
	background-color: #fff;
	border:solid thin #AeAeAe;


}
.btnDefualt:hover{
		background-color: #676767;
}
/*Stagged Containers*/
.stag-cont{
	height:404px;
	overflow: hidden;
}
.stag-cont h4{
	padding: 10px 30px;
	margin: 0px 0px;
}
.stag-cont p{
	text-align: left;
	line-height: 20px;
	padding: 0px 30px;
	margin: 0px 0px;	
}

/*Contact*/
#contact{
	padding: 0px 0px 100px 0px;
}
#contact form{
	background-color: #fff;
	width: 500px;
	height: 600px;
	margin: 0 auto;
	padding: 10px;	
}

#contact form label{
	font-size: 16px;
	font-weight: 700;
	color:#565656;
	padding: 9px 0px;
	float: left;
	clear:both;
	text-align: left;
}
#contact form input{
	width:50%;
	margin:10px;
	float: right;
	border:solid thin #e5e5e5;
}
#contact form input:focus{
	border:solid thin #000;
}
#contact form select{
	width:50%;
	margin:10px;
	float: right;
}
#contact form input[type="checkbox"]{
	float: left;
	display: inline;
	width: auto;
	clear: right;
}
.radio-label{
	
}
#contact form textarea{
	display: block;
	width: 100%;
	height: 50%;
	max-height: 50%;
	max-width: 100%;
	min-height: 50%;
	min-width: 100%;
	border:solid thin #e5e5e5;
}
#contact form textarea:focus{
	border:solid thin #000;
}

/*Footer*/
#contact form button{
	display: block;
	width: 25%;
	margin: 0 auto;
	margin-top: 25px;
	background-color: #fff;
	border:solid thin #e5e5e5;
	border-radius: 10px;
	padding: 10px 10px;
}
#gallery{
	padding:10px;
	margin-top: 100px;
}
footer{
	padding: 0;
	margin:0px 0px;
	border-top:solid thin #e2e2e2;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%); /* W3C */	
}
footer table{
	height:80%;
	letter-spacing:2.5px;
	font-size:16px;
	border:none;
	text-align:left;
	background-color: rgba(245,245,245,0.0);
	border-collapse: collapse;
	color:#000;

}

:hover
footer table tr th{
	padding: 0;
	margin: 0;
	height: 50px;
}
footer table tr td{
	width: 33%;
	padding: 0;
	margin: 0;
}
footer table tr td a{
	width: 90%;
	padding:0;
	color:#000;
}	
footer table tr td a img{
	width: 90%;

}


